.newsfeed {
    ul {
        padding: 0;
        height: 135px;
        overflow-y: scroll;
        color: $secondaryColor;
        text-shadow: none;

        li {
            list-style-type: none;
            position: relative;
            background-color: #eee;
            margin: calc(#{$margin} / 2.5) 0;
            padding: calc(#{$padding} / 3) $padding;
            border-radius: $borderRadius;

            a.newsfeed-title {
                text-decoration: none;
                color: $secondaryColor;
                font-weight: bold
            }

            .newsfeed-source {
                font-style: italic;
                font-size: 0.85em
            }

            .newsfeed-description {
                font-size: 0.9em
            }
            
        }
    }
}
