.todo {
    ul {
        padding: 0;
        height: 135px;
        overflow-y: scroll;

        li {
            list-style-type: none;
            position: relative;
            background-color: #eee;
            margin: calc(#{$margin} / 2.5) 0;
            padding: calc(#{$padding} / 3) $padding;
            border-radius: $borderRadius
        }
    }

    input {
        border: 1px solid $secondaryColor;
        border-radius: $borderRadius 0 0 $borderRadius;
        padding: calc(#{$padding} / 3) $padding;
        outline: 0
    }

    button {
        border-top: 1px solid $secondaryColor;
        border-right: 1px solid $secondaryColor;
        border-bottom: 1px solid $secondaryColor;
        border-radius: 0 $borderRadius $borderRadius 0;
        padding: calc(#{$padding} / 3) $padding;
        outline: 0
    }

    .close {
        border: none;
        background-color: transparent;
        position: absolute;
        font-size: 1.5em;
        right: 20px;
        margin-top: -9px;
        transition: 0.2s;

        &:hover {
            opacity: 0.7;
            cursor: pointer
        }
    }
}
